.list-view {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__label {
    font-weight: bold;
    text-transform: uppercase;
    width: 15%;
    // text-align: right;
  }

  &__value {
    position: relative;
    margin-left: 1rem;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: gray;
      opacity: 0.5;
      top: 0;
      left: -0.5rem;
    }
  }
}
