.app-layout {
  &__header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    padding-inline: 5%;
    background-color: dodgerblue;
    border-bottom: 1px solid rgb(157, 155, 155);

    .header-title {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }

    .buttons-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-button {
        margin-inline: 0.25rem;
      }

      .user-name {
        color: white;
        font-weight: 500;
        margin-right: 1rem;
      }
    }

    .api-switch-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 100%;
      padding: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: #afbdcb;

      span {
        color: #ffffff;
        font-size: 0.8rem;
        font-weight: 500;
      }

      &__switch {
        margin-inline: 0.5rem;
      }
    }

    @media (max-width: 599px) {
      .user-name {
        margin-right: 0.5rem;
      }
    }
  }

  &__sider {
    position: sticky !important;
    height: 100vh;
    top: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 4rem;
    background-color: white;
  }
}
